<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Privacy Policy-slaywithus.</title>
    <link rel="shortcut icon" href="../public/images/favicon.ico" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  <!-- Custom Css -->
  <link rel="stylesheet" href="../public/styles/privacy.css" />
   <link rel="stylesheet" href="../public/styles/navbar.css" />
    <link rel="stylesheet" href="../public/styles/footer.css" />

  <!-- Bootstrap icons cdn -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

</head>
<body>
    
    {{> navbar}}

  <!-- =============Privacy Policy============= -->
 <section class="privacy container py-5 text-center">
  <div class="row justify-content-center p-3">
    <p class="text-center bredcrumb"><a href="index.html">Slaywithus.</a>><span>Privacy Policy</span></p>
    <h4 class="privacy-heading">Privacy Policy</h4>
    <div class="col text-md-start text-center">
     <p class="text-start">Last Updated: 20 June 2023</p>
     <p class="text-start">This Privacy Policy outlines the manner in which SlayWithUs.com collects, uses, maintains, and discloses information obtained from users of the SlayWithUs.com website. This Privacy Policy applies to all services offered by SlayWithUs.com.</p>
     <ol type="1" class="fs-1 p-1">
        <li>
            <h2 class="my-4 text-start">Information We Collect</h2>
            <p class="my-4 text-start">We may collect personal identification information from you in various ways, including but not limited to when you visit our website, register on the Website, place an order, subscribe to our newsletter, respond to a survey, fill out a form, or interact with other activities, services, features, or resources available on our website. The information we may collect includes:</p>
            <p class="my-4 text-start">a. Personal Information: This includes your name, email address, phone number, postal address, and any other information you provide voluntarily.</p>
            <p class="my-4 text-start">b. Non-Personal Information: We may collect non-personal information about you when you interact with our Website. This may include your browser type, device information, operating system, and other technical details.</p>
        </li>
        <li>
            <h2 class="my-4 text-start">Use of Collected Information</h2>
            <p class="my-4 text-start">We may collect and use your personal information for the following purposes:</p>
            <p class="my-4 text-start">a. To personalize your experience: The information you provide helps us to tailor our services to your individual needs.</p>
            <p class="my-4 text-start">b. To process transactions: We use your information to process payments, deliver products or services, and communicate with you about your orders.</p>
            <p class="my-4 text-start">c. To improve customer service: Your information helps us respond more effectively to your customer service requests and support needs.</p>
            <p class="my-4 text-start">d. To send periodic emails: We may use the email address you provide to send you information, updates, and promotional materials related to our services. You can unsubscribe from these emails at any time by following the instructions provided in each email.</p>
        </li>
        <li>
            <h2 class="my-4 text-start">Protection of Collected Information</h2>
            <p class="my-4 text-start">We adopt appropriate data collection, storage, and processing practices, as well as security measures, to protect against unauthorized access, alteration, disclosure, or destruction of your personal information, username, password, transaction information, and data stored on our Website.</p>
        </li>
        <li>
            <h2 class="my-4 text-start">Sharing of Collected Information</h2>
            <p class="my-4 text-start">We do not sell, trade, or rent your personal identification information to third parties. However, we may share generic aggregated demographic information that does not personally identify individuals with our business partners, trusted affiliates, and advertisers for the purposes outlined above.</p>
        </li>
        <li>
            <h2 class="my-4 text-start">Third-Party Websites</h2>
            <p class="my-4 text-start">You may find advertising or other content on our Website that links to the sites and services of our partners, suppliers, advertisers, sponsors, licensors, and other third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from our Website. Browsing and interaction on any other website, including websites that have a link to our Website, is subject to that website’s own terms and policies.</p>
        </li>
        <li>
            <h2 class="my-4 text-start">Compliance with Laws</h2>
            <p class="my-4 text-start">We will disclose your information, including personal information, if required to do so by law or in response to a valid legal request from law enforcement agencies or other government bodies.</p>
        </li>
        <li>
            <h2 class="my-4 text-start">Changes to this Privacy Policy</h2>
            <p class="my-4 text-start">We reserve the right to update or modify this Privacy Policy at any time. When we do, we will revise the updated date at the top of this page. We encourage you to review this Privacy Policy periodically to stay informed about how we are protecting your information.</p>
        </li>
        <li>
            <h2 class="my-4 text-start">Your Acceptance of these Terms</h2>
            <p class="my-4 text-start">By using our Website, you signify your acceptance of this Privacy Policy. If you do not agree to this Privacy Policy, please do not use our Website. Your continued use of the Website following the posting of changes to this Privacy Policy will be deemed your acceptance of those changes</p>
        </li>
        <li>
            <h2 class="my-4 text-start">Contacting Us</h2>
            <p class="my-4 text-start">If you have any questions about this Privacy Policy, the practices</p>
            <p class="my-4 text-start">of this Website, or your dealings with this Website, please contact us at [contact information].</p>
            <p class="my-4 text-start">Note: This is a sample privacy policy and should be customized to reflect the specific practices of your website and comply with relevant laws and regulations in your jurisdiction. It is important to consult with legal professionals to ensure compliance with applicable laws.</p>
        </li>
     </ol>
  </div>
 </section>
{{> footer}}

  {{!-- {{> footer}} --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <!-- ==========custom javascript============ -->
  <script src="../public/javascripts/script.js"></script>
</body>
</html>
