
body.darkMode .about-us,
body.darkMode p,
body.darkMode .bredcrumb a,
body.darkMode .bredcrumb span{
color:  white !important;
}

.about-us{
  font-family: "Cinzel", sans-serif;
  color: #111111;
}
.about-heading{
    font-size: 2.8rem;
    font-weight: 400;
}
.sub-heading{
    font-weight: 400;
    font-size: 3.4rem;
}
.about-us p{
    font-size: 20px;
    line-height: 34px;
  font-family: "Cormorant Garamond", serif !important;
  font-weight: 400;
}

@media only screen and (max-width: 576px) {
    .about-heading{
      font-size: 1.4rem;
      font-weight: 400;
  }
  .sub-heading{
    font-size: 2rem;
  }
  }